#root {
  height: 100%;
  width: 100%;
  background-image: url(./bt-booking/bgmovie.jpg) !important;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
}

.background {
 position: fixed;
 height: 100%;
 width: 100%;
 background: #000000b9;
}

.table thead th {
  border-bottom: none !important;
}

.table th,td {
  border-top: none !important;

}
#seat th{
  width: 12px !important;
}